apiVersion: apps/v1
kind: Deployment
metadata:
  name: vpa-updater
  namespace: glasswing-agent
  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vpa-updater
  template:
    metadata:
      labels:
        app: vpa-updater
    spec:
      serviceAccountName: vpa-updater
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534 # nobody
      containers:
        - name: updater
          image: "registry.k8s.io/autoscaling/vpa-updater:1.2.1"
          imagePullPolicy: "Always"
          terminationMessagePolicy: FallbackToLogsOnError
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          ports:
            - name: prometheus
              containerPort: 8943
          resources:
            limits:
              cpu: 200m
              memory: 1000Mi
            requests: 
              cpu: 50m
              memory: 500Mi
