apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: glasswing-agent:vpa-actor
  labels:
    app.kubernetes.io/name: glasswing-vpa
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - nodes
      - limitranges
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - get
      - list
      - watch
      - create
  - apiGroups:
      - "autoscaling.k8s.io"
    resources:
      - verticalpodautoscalers
    verbs:
      - get
      - list
      - watch
