apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: glasswing-agent:leader-locking-vpa-updater
  namespace: glasswing-agent
rules:
  - apiGroups:
      - "coordination.k8s.io"
    resources:
      - leases
    verbs:
      - create
  - apiGroups:
      - "coordination.k8s.io"
    resourceNames:
      - vpa-updater
    resources:
      - leases
    verbs:
      - get
      - watch
      - update
