apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: verticalscalingconfigurations.autoscaling.glasswing.cloud
spec:
  group: autoscaling.glasswing.cloud
  names:
    kind: VerticalScalingConfiguration
    listKind: VerticalScalingConfigurationList
    plural: verticalscalingconfigurations
    singular: verticalscalingconfiguration
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - jsonPath: .spec.updatePolicy.updateMode
          name: Mode
          type: string
        - jsonPath: .metadata.creationTimestamp
          name: AGE
          type: date
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: VerticalScalingConfiguration defines how a workload should be scaled.
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              description: spec defines the desired state of this VerticalScalingConfiguration.
              properties:
                recommenderOptions:
                  default:
                    headroom:
                      cpuPercentage: 15
                      memoryPercentage: 15
                    historyPercentile:
                      cpu: p80
                      memory: p80
                    historyWindowSizeSeconds: 1209600
                  description: recommenderOptions defines tunable options for the recommender.
                  properties:
                    headroom:
                      default:
                        cpuPercentage: 15
                        memoryPercentage: 15
                      description: |-
                        headroom is a multiplier that allows you to raise the default recommendation.
                        It gets applied using the following formula:
                          `resource = resource * (1 + headroom)`
                      properties:
                        cpuPercentage:
                          default: 15
                          description: cpuPercentage describes the extra headroom for cpu resource.
                          format: int32
                          maximum: 100
                          minimum: 0
                          type: integer
                        memoryPercentage:
                          default: 15
                          description: |-
                            memoryPercentage describes the extra headroom for memory resource.
                            memory describes the Memory resource quantity.
                          format: int32
                          maximum: 100
                          minimum: 0
                          type: integer
                      required:
                        - cpuPercentage
                        - memoryPercentage
                      type: object
                    historyPercentile:
                      default:
                        cpu: p80
                        memory: p80
                      description: historyPercentile allows to adjust the resource percentile used for recommendation.
                      properties:
                        cpu:
                          description: cpu describes the CPU percentile.
                          enum:
                            - p50
                            - p60
                            - p70
                            - p80
                            - p90
                            - p95
                          type: string
                        memory:
                          description: memory describes the Memory percentile.
                          enum:
                            - p50
                            - p60
                            - p70
                            - p80
                            - p90
                            - p95
                          type: string
                      required:
                        - cpu
                        - memory
                      type: object
                    historyWindowSizeSeconds:
                      default: 1209600
                      description: |-
                        historyWindowSizeSeconds defines the size of a time window that's relevant for the recommendation.
                        (Roughly, this should be at least 2x the period of a related recurring pattern in the system.)
                      format: int32
                      maximum: 2592000
                      minimum: 86400
                      type: integer
                  required:
                    - headroom
                    - historyPercentile
                    - historyWindowSizeSeconds
                  type: object
                resourcePolicy:
                  description: resourcePolicy defines options for scaling the Pod.
                  properties:
                    containerPolicies:
                      description: containerPolicies defines policy for containers.
                      items:
                        description: ContainerResourcePolicy defines how to handle container scaling.
                        properties:
                          containerName:
                            description: |-
                              containerName is the name of the container.
                              Use '*' to match all containers that do not have explicit policy defined in this array.
                            example: '*'
                            minLength: 1
                            type: string
                          controlledValues:
                            default: RequestsAndLimits
                            description: Specifies which resource values should be controlled.
                            enum:
                              - RequestsAndLimits
                              - RequestsOnly
                            type: string
                          maxAllowed:
                            description: |-
                              maxAllowed specifies the maximum amount of resources that will be recommended for the container.
                              Empty quantities mean there is no limit.
                            example:
                              cpu: "2"
                              memory: 4Gi
                            properties:
                              cpu:
                                anyOf:
                                  - type: integer
                                  - type: string
                                description: cpu describes the CPU resource quantity.
                                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                                x-kubernetes-int-or-string: true
                              memory:
                                anyOf:
                                  - type: integer
                                  - type: string
                                description: memory describes the Memory resource quantity.
                                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                                x-kubernetes-int-or-string: true
                            required:
                              - cpu
                              - memory
                            type: object
                          minAllowed:
                            description: |-
                              minAllowed specifies the minimal amount of resources that will be recommended for the container.
                              Empty quantities mean there is no limit.
                            example:
                              cpu: 500m
                              memory: 1Gi
                            properties:
                              cpu:
                                anyOf:
                                  - type: integer
                                  - type: string
                                description: cpu describes the CPU resource quantity.
                                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                                x-kubernetes-int-or-string: true
                              memory:
                                anyOf:
                                  - type: integer
                                  - type: string
                                description: memory describes the Memory resource quantity.
                                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                                x-kubernetes-int-or-string: true
                            required:
                              - cpu
                              - memory
                            type: object
                          mode:
                            default: Auto
                            description: mode defines whether the scaling applies to this container.
                            enum:
                              - Auto
                              - Disabled
                            type: string
                        required:
                          - containerName
                          - controlledValues
                          - maxAllowed
                          - minAllowed
                          - mode
                        type: object
                      minItems: 1
                      type: array
                  required:
                    - containerPolicies
                  type: object
                targetRef:
                  description: |-
                    targetRef selects the workload controller to scale, e.g. Deployment, StatefulSet or a customer resource.
                    Workloads are required to provide `/scale` subresource.
                  properties:
                    apiVersion:
                      description: apiVersion is the group/version of the resource being referenced.
                      type: string
                    kind:
                      description: kind is the type of resource being referenced.
                      minLength: 1
                      type: string
                    name:
                      description: Name is the name of resource being referenced
                      minLength: 1
                      type: string
                  required:
                    - apiVersion
                    - kind
                    - name
                  type: object
                updatePolicy:
                  default:
                    updateMode: Auto
                  description: updatePolicy defines options for scaling the Pod.
                  properties:
                    updateMode:
                      default: Auto
                      description: updateMode controls when autoscaler applies changes to the Pod resources.
                      enum:
                        - Disabled
                        - Initial
                        - Recreate
                        - Auto
                      type: string
                  required:
                    - updateMode
                  type: object
              required:
                - recommenderOptions
                - resourcePolicy
                - targetRef
                - updatePolicy
              type: object
            status:
              description: status is the current status of this VerticalScalingConfiguration.
              properties:
                conditions:
                  description: conditions hold conditions describing VerticalScalingConfiguration state.
                  items:
                    description: Condition contains details for one aspect of the current state of this API Resource.
                    properties:
                      lastTransitionTime:
                        description: |-
                          lastTransitionTime is the last time the condition transitioned from one status to another.
                          This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                        format: date-time
                        type: string
                      message:
                        description: |-
                          message is a human readable message indicating details about the transition.
                          This may be an empty string.
                        maxLength: 32768
                        type: string
                      observedGeneration:
                        description: |-
                          observedGeneration represents the .metadata.generation that the condition was set based upon.
                          For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                          with respect to the current state of the instance.
                        format: int64
                        minimum: 0
                        type: integer
                      reason:
                        description: |-
                          reason contains a programmatic identifier indicating the reason for the condition's last transition.
                          Producers of specific condition types may define expected values and meanings for this field,
                          and whether the values are considered a guaranteed API.
                          The value should be a CamelCase string.
                          This field may not be empty.
                        maxLength: 1024
                        minLength: 1
                        pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                        type: string
                      status:
                        description: status of the condition, one of True, False, Unknown.
                        enum:
                          - "True"
                          - "False"
                          - Unknown
                        type: string
                      type:
                        description: type of condition in CamelCase or in foo.example.com/CamelCase.
                        maxLength: 316
                        pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                        type: string
                    required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                    type: object
                  type: array
                observedGeneration:
                  description: |-
                    observedGeneration is the most recent generation observed for this VerticalScalingConfiguration.
                    It corresponds to the VerticalScalingConfiguration's generation, which is updated on mutation by the API Server.
                  format: int64
                  type: integer
              required:
                - conditions
                - observedGeneration
              type: object
          required:
            - spec
          type: object
      served: true
      storage: true
      subresources:
        status: {}
