apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: agentconfigurations.config.glasswing.cloud
spec:
  group: config.glasswing.cloud
  names:
    kind: AgentConfiguration
    listKind: AgentConfigurationList
    plural: agentconfigurations
    singular: agentconfiguration
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - jsonPath: .metadata.creationTimestamp
          name: AGE
          type: date
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: AgentConfiguration holds Agent configuration.
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              description: spec defines the desired state of this AgentConfiguration.
              type: object
            status:
              description: status is the current status of this AgentConfiguration.
              properties:
                collectedResources:
                  description: required holds resources that are collected because the platform needs them.
                  properties:
                    discovered:
                      description: |-
                        discovered holds the resources that have been marked for collection after
                        inspecting Kubernetes discovery information.
                        E.g., to find custom resources supporting /scale subresource.
                      items:
                        description: GroupVersionResource describes a versioned resource.
                        properties:
                          group:
                            description: group is the group portion of the GroupVersionResource.
                            type: string
                          resource:
                            description: resource is the resource portion of the GroupVersionResource.
                            minLength: 1
                            type: string
                          version:
                            description: version is the version portion of the GroupVersionResource.
                            minLength: 1
                            type: string
                        required:
                          - group
                          - resource
                          - version
                        type: object
                      type: array
                    inaccessible:
                      description: inaccessible holds resources that can't be collected due to insufficient permissions.
                      items:
                        description: InaccessibleResource describes a resource that didn't pass a SelfSubjectAccessReview before being collected.
                        properties:
                          denied:
                            description: |-
                              denied indicates whether this was an explicit denial.
                              Authorizers are allowed to have no opinion.
                            type: boolean
                          group:
                            description: group is the group portion of the GroupVersionResource.
                            type: string
                          resource:
                            description: resource is the resource portion of the GroupVersionResource.
                            minLength: 1
                            type: string
                          verb:
                            description: verb is a kubernetes resource API verb.
                            type: string
                          version:
                            description: version is the version portion of the GroupVersionResource.
                            minLength: 1
                            type: string
                        required:
                          - denied
                          - group
                          - resource
                          - verb
                          - version
                        type: object
                      type: array
                    referenced:
                      description: |-
                        referenced holds resources that are collected because they are
                        part of an owner reference chain from, or to a resource that's being collected.
                      items:
                        description: GroupVersionResource describes a versioned resource.
                        properties:
                          group:
                            description: group is the group portion of the GroupVersionResource.
                            type: string
                          resource:
                            description: resource is the resource portion of the GroupVersionResource.
                            minLength: 1
                            type: string
                          version:
                            description: version is the version portion of the GroupVersionResource.
                            minLength: 1
                            type: string
                        required:
                          - group
                          - resource
                          - version
                        type: object
                      type: array
                    required:
                      description: required holds resources that are collected because the platform needs them.
                      items:
                        description: GroupVersionResource describes a versioned resource.
                        properties:
                          group:
                            description: group is the group portion of the GroupVersionResource.
                            type: string
                          resource:
                            description: resource is the resource portion of the GroupVersionResource.
                            minLength: 1
                            type: string
                          version:
                            description: version is the version portion of the GroupVersionResource.
                            minLength: 1
                            type: string
                        required:
                          - group
                          - resource
                          - version
                        type: object
                      type: array
                  type: object
                kubernetesVersion:
                  description: kubernetesVersion holds the discovered version of Kubernetes control plane.
                  properties:
                    major:
                      description: major is the major part of the Kubernetes version.
                      minLength: 1
                      type: string
                    minor:
                      description: minor is the minor part of the Kubernetes version.
                      minLength: 1
                      type: string
                  required:
                    - major
                    - minor
                  type: object
              type: object
          required:
            - spec
          type: object
      served: true
      storage: true
      subresources:
        status: {}
