apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: glasswing-agent
  namespace: glasswing-agent
  labels:
    
    helm.sh/chart: glasswing-agent-0.0.0
    app.kubernetes.io/name: glasswing-agent
    app.kubernetes.io/instance: glasswing-agent
    app.kubernetes.io/version: "0.6.3-rc.0"
    app.kubernetes.io/managed-by: Helm
  
rules:
  # ---
  # Required for cost savings estimation features.
  # ---
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
  # ---
  # Required for proportional vertical cluster autoscaler to adjust glasswing-agent requests/limits.
  # ---
  - apiGroups:
      - "apps"
    resources:
      - deployments
    resourceNames:
      - glasswing-agent
    verbs:
      - patch
