apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: oominfos.autoscaling.glasswing.cloud
spec:
  group: autoscaling.glasswing.cloud
  names:
    kind: OomInfo
    listKind: OomInfoList
    plural: oominfos
    shortNames:
      - oom
      - oomi
    singular: oominfo
  scope: Namespaced
  versions:
    - name: v1
      schema:
        openAPIV3Schema:
          description: OomInfo is the Schema for the OomInfo API
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              properties:
                containerName:
                  description: The name of the container within the pod where the OOM event occurred.
                  type: string
                memory:
                  anyOf:
                    - type: integer
                    - type: string
                  description: The memory usage at the time of the OOM event.
                  pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                  x-kubernetes-int-or-string: true
                namespace:
                  description: The namespace where the OOM event occurred.
                  type: string
                podName:
                  description: The name of the pod where the OOM event occurred.
                  type: string
                timestamp:
                  description: The timestamp when the OOM event occurred.
                  format: date-time
                  type: string
              type: object
            status:
              type: object
          type: object
      served: true
      storage: true
