apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: glasswing-agent
  namespace: glasswing-agent
  labels:
    
    helm.sh/chart: glasswing-agent-0.0.0
    app.kubernetes.io/name: glasswing-agent
    app.kubernetes.io/instance: glasswing-agent
    app.kubernetes.io/version: "0.7.0-cb.0"
    app.kubernetes.io/managed-by: Helm
  
rules:
- apiGroups:
  - "coordination.k8s.io"
  resources:
  - leases
  verbs:
  - create
  - get
  - list
  - watch
  - update
  - patch
  - delete
