apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: glasswing-agent:vpa-status-reader
  labels:
    app.kubernetes.io/name: glasswing-vpa
rules:
  - apiGroups:
      - "coordination.k8s.io"
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
