apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: cert-generator-role
  namespace: glasswing-agent
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - create
  - patch
